#header{
    font-size: 2rem;
    margin: 20px;
}

#table{
    margin: 0 20px;
    width: 90%;
    overflow: hidden;
    border-radius: 30px;
    border: 0.897px solid #000;
}

.user-row{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 1fr 1fr 1fr;
    border-bottom: 0.897px solid #000;
}

#header-row{
    font-weight: bold;
}

#table:last-child{
    border-bottom: none;
}

.row-element{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
}

.row-element img{
    max-height: 1.5rem;
}