<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/global.css">
    <link rel="stylesheet" href="../../public/css/menu.css">

    <title>Your Day</title>
</head>
<body>
    <div class="site-container">
        <nav>
            <span class = "logo-span">
                <img src = "../../public/images/logo.png">
                <h1>NutriQuest</h1>
            </span>
            
            <ul>
                <li>
                    
                    <img src = "../../public/images/castleIcon.png">
                    <a href="myDay.html">HOME</a>
                </li>
                <li>
                    <img src = "../../public/images/statisticsIcon.png">
                    <a href="myDay.html">STATS</a>
                </li>
                <li>
                    <img src = "../../public/images/logoutIcon.png">
                    <a href="login.html">LOGOUT</a>
                </li>
            </ul>
        </nav>
        <main>
            <div id = "level-bar">
                <div class ="level-bar-edge"></div>
                <div id = "progress-bar">
                    <h2>Level: 0</h2>
                    <progress max="100" value="10"></progress>
                </div>
                <div class = "profile-icon level-bar-edge">
                    <img src = "../../public/images/knightProf.png">
                </div>

            </div>
            <div id = "content-window">
                
                <table class="table">
                    <tr>
                        <td><span class="expandChildTable"></span></td>
                        <td>Breakfast</td>
                        <td class="calories">Calories: 0</td>
                    </tr>
                    <tr class="childTableRow">
                        <td>Add Product</td>
                    </tr>
                </table>  






            </div>
        </main>
    </div>
</body>
</html>